spring:
  application:
    name: com.joshgav.apiserver.Application
  flyway.enabled: false
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
  datasource:
    initialization-mode: never
    username: apiserver
    password: b70e0fc8d5339b1293c0fe2b969197e7
    url: jdbc:postgresql://localhost:5432/postgres
    # url: jdbc:postgresql://localhost:5432/apiserverdb

server:
  servlet:
    port: 8080

management:
  server.port: 9090
  health.defaults: enabled
  endpoint:
    health:
      enabled: true
      probes:
        enabled: true
      show-details: always
      show-components: always
    info.enabled: true
  endpoints.web.exposure.include: "info,health,configprops,env,metrics,prometheus"

springdoc:
  api-docs.enabled: true
  swagger-ui.enabled: true
  packagesToScan: com.joshgav.apiserver.controller

logging:
  level:
    root: INFO
    com.joshgav.apiserver: DEBUG
    org.springframework: INFO
    org.hibernate: WARN
