apiVersion: v1
kind: ConfigMap
metadata:
  name: spring-apiserver-app-properties
data:
  application.yaml: |-
    spring:
      jpa:
        hibernate:
          ddl-auto: update
      datasource:
        initialization-mode: never